.service-i{
    background-color: blue;
    padding: 20px;
    border-radius: 50%;
    border: 6px solid white;
    
}
.service-i1{
    background-color: black;
    padding: 20px;
    border-radius: 50%;
    border: 6px solid white;
    
}
.service-i2{
    background-color: blue;
    padding: 20px;
    border-radius: 50%;
    border: 6px solid white;
    
}
.service-i3{
    background-color: blue;
    padding: 20px;
    border-radius: 50%;
    border: 6px solid white;
    
}
.service-i4{
    background-color: blue;
    padding: 20px;
    border-radius: 50%;
    border: 6px solid white;
    
}
.hello{
    margin-top: -40px;
}
.column-2{
    margin-top: -20px;
}